Author: Vadivel, PL (PV48452)

In [1]:
### Python is a case sensitive language

# Integers ###############

In [2]:
2 ** 4          # 2 to the power of 4

16

In [3]:
61 / 2          # classic division. Python 3 will return with decimal points

30

In [7]:
61 // 2         # "floor" division

30

In [8]:
5 % 2           # modulus function. return the remainder

1

In [9]:
1 in [1,2,3]    # in operator

True

In [10]:
1 == '1'        # returns false as it is comparing an integer to a string

False

In [11]:
1 != 1          # checking for not equal. Returns false as they are equal

False

In [12]:
a = 3.75 ; type(a)

float

In [17]:
b = int(a)   #converting float to integer. similarly you can convert to float or str
print(b)
type(b)

3

int

In [28]:
c = str(a)
type(c)

str

In [25]:
float(b)

3.0

# Strings ###############

In [48]:
s = 'Hi my Name is CITI. #name #citi #123'
t = '123'

In [32]:
# No need to declare the data type of the variable in the beginning. Varaible takes the data type while value is assigned
# Variable names should not start with numbers or special characters. use underscore for variable with many words(preferred) 
# Type variable name and press tab to know the methods that can be applied on the variable of that datatype

In [39]:
print ( s.isdigit(), t.isdigit())

(False, True)

In [49]:
s.lower()                   # This only prints in the console. does not update the value of s

'hi my name is citi. #name #citi #123'

In [50]:
s

'Hi my Name is CITI. #name #citi #123'

In [51]:
s= s.lower() #assign it back to update the variable
s

'hi my name is citi. #name #citi #123'

In [52]:
s.split('#') # Returns a list. This can be used to extract hashtags from a tweet

['hi my name is citi. ', 'name ', 'citi ', '123']

In [54]:
tweet = s.split('#')[0] # Accessing the 0th element in the list.
tweet

'hi my name is citi. '

In [56]:
'What\'s your name? ' + tweet  # Concatenate two strings. Include escape character \ if your string contains apostrophe

"What's your name? hi my name is citi. "

In [57]:
'Citi '*3 #Citi will be repeated 3 times

'Citi Citi Citi '

In [59]:
'Citi ' * 'Blr' #error.

TypeError: can't multiply sequence by non-int of type 'str'

# List ###############

In [60]:
num = [1,3,5]                   # Creating a list of integers

In [71]:
string_list1 = ['a','c','b']    # Creating a list of strings

In [74]:
# in built functions of list updates the list automatically. no need to assign again

In [72]:
string_list1.append('d')        
string_list1

['a', 'c', 'b', 'd']

In [73]:
string_list1.sort()
string_list1

['a', 'b', 'c', 'd']

In [75]:
string_list1.reverse()
string_list1

['d', 'c', 'b', 'a']

# Datetime ###############

In [80]:
import datetime                                 # Importing a library
time1 = datetime.datetime.now()                 # System time
print(time1)

2019-08-23 04:15:25.983522

In [85]:
time2 = datetime.datetime.now()                 # System time
print(time2)
diff = time2-time1
print(diff)
print(diff.days * 86400 + diff.seconds )               # Converting time to seconds
print(divmod(diff.days * 86400 + diff.seconds, 60)[0]) # Converting difference in datetime into minutes

2019-08-23 04:17:05.699435
0:01:39.715913
99
1

In [86]:
diff.total_seconds() #total_seconds is a method/function - it gets executed only when the code is run

99.715913

In [88]:
diff.seconds #seconds is a attribute. whenever diff gets a value this attribute will be calculated and stores

99

# Help ###############

In [89]:
help(divmod)

Help on built-in function divmod in module __builtin__:

divmod(...)
    divmod(x, y) -> (quotient, remainder)

    Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.

In [90]:
help(diff.total_seconds) #here you want to execute the function. just refer that function

Help on built-in function total_seconds:

total_seconds(...)
    Total seconds in the duration.

In [91]:
help(c.capitalize)

Help on built-in function capitalize:

capitalize(...)
    S.capitalize() -> string

    Return a copy of the string S with only its first character
    capitalized.

# Working directory ###############

In [94]:
import os
os.getcwd() #get current working directory

'/home/pv48452'

In [95]:
os.chdir('/home/pv48452') #change current working directory

# While loop / For loop / map / filter ###############

In [97]:
#for loop
for x in range(5): #default start for range is 0 if not mentioned specifically. only stop is given
    print("i value is {}".format(x))
    
for x in range(1,5,2): #start, stop, increment/step
    print("j value is {}".format(x))    #indendation is important. ends at stop-1

i value is 0
i value is 1
i value is 2
i value is 3
i value is 4
j value is 1
j value is 3

In [98]:
#while loop
i=0
while i<5:
    print("i value is {}".format(i))
    i=i+1

i value is 0
i value is 1
i value is 2
i value is 3
i value is 4

In [104]:
#map
seq = range(1,8,3)
print(seq)
def times2(var): return var*2 #this will also work. entire function in one line. if next line is used, then there should be indentation
list(map(times2,seq)) #map function passes each element in seq(list) to times2(function). Thus map function can be used in place of for loops
#map will return a list of output which the times2 function returns

[1, 4, 7]

[2, 8, 14]

In [102]:
list(map(lambda var: var*2,seq)) #how function can be replaced by lamda expression.

[2, 8, 14]

In [103]:
#filter
list(filter(lambda num: num%2==0, seq)) #filter function filters out element from the sequence based on a condition

[4]